# Homework 4 - Pandas

## NAME:

## STUDENT ID:

In [1]:
# Load required modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Pandas Introduction

## Reading File

#### 1.1) Read the CSV file called 'data3.csv' into a dataframe called df. 
#### Data description
* Data source: http://www.fao.org/nr/water/aquastat/data/query/index.html
* Data, units:
* GDP, current USD (CPI adjusted)
* NRI, mm/yr
* Population density, inhab/km^2
* Total area of the country, 1000 ha = 10km^2
* Total Population, unit 1000 inhabitants

In [2]:
# your code here

#### 1.2) Display the first 10 rows of the dataframe.

In [3]:
# your code here

#### 1.3) Display the column names.

In [4]:
# your code here

#### 1.4) Use iloc to display the first 3 rows and first 4 columns.

In [5]:
# your code here

## Data Preprocessing

#### 2.1) Find all the rows that  have 'NaN' in the 'Symbol' column. Display first 5 rows.

##### Hint : You might have to use a mask

In [6]:
# your code here

#### 2.2)  Now, we will try to get rid of the NaN valued rows and columns. First, drop the column 'Other' which only has 'NaN' values. Then drop all other rows that have any column with a value 'NaN'. Store the result in place. Then display the last 5 rows of the dataframe.

In [7]:
# your code here

#### 2.3) For our analysis we do not want all the columns in our dataframe. Lets  drop all the redundant columns/ features.   
#### **Drop columns**: **Area Id, Variable Id, Symbol**. Save the new dataframe as df1. Display the first 5 rows of the new dataframe.

In [8]:
# your code here

#### 2.4) Display all the unique values in your new dataframe for each of the columns: Area, Variable Name, Year.

In [9]:
# your code here

#### 2.5) Convert the 'Year' column float values to pandas datetime objects, where each year is represented as the first day of that year. Also display the first 5 values of the Year column after conversion.

##### For eg: 1962.0 will be represented as 1962-01-01

In [10]:
# your code here

## Plot

#### 3.1) Plot a bar graph showing the count for each unique value in the column 'Area'. Give it a title.

In [11]:
# your code here

## Extract specific statistics from the preprocessed data:

#### 4.1)  Create a dataframe 'dftemp' to store rows where Area is 'Iceland'. Display the dataframe.

In [12]:
# your code here

#### 4.2) Print the years (with the same format as 4.3) when the National Rainfall Index (NRI) was greater than 900 and less than 950 in Iceland. Use the dataframe you created in the previous question 'dftemp'.

In [13]:
# your code here

## US statistics:

#### 5.1) Create a new DataFrame called **`df_usa`** that only contains values where 'Area' is equal to 'United States of America'. Set the indices to be the 'Year' column   (Use .set_index( ), set inplace=True ). Display the dataframe head.

In [14]:
# your code here

#### 5.2) Pivot the DataFrame so that the unique values in the column 'Variable Name' becomes the columns. The DataFrame values should be the ones in the the 'Value' column. Save it in df_usa. Display the dataframe head.

In [15]:
# your code here

#### 5.3) Rename new columns to  ['GDP','NRI','PD','Area','Population'] and display the head.

In [16]:
# your code here

#### 5.4) Replace all 'Nan' values in df_usa with 0. Display the head of the dataframe.

In [17]:
# your code here

## Use df_usa:

#### 6.1) Multiply the 'Area' column for all rows by 10 (so instead of 1000 ha, the unit becomes 100 ha = 1km^2). Display the dataframe head.

In [18]:
# your code here

#### 6.2) Create a new column in df_usa called 'GDP/capita' and populate it with the calculated GDP per capita. Round the results to two decimal points. Display the dataframe head.
GDP per capita = (GDP / Population) * 1000

In [19]:
# your code here

#### 6.3) Find the maximum value of the 'NRI' column in the US (using pandas methods). What year does the max value occur? Display the values.

In [20]:
# your code here

## Congratulations on completing hw4! Don't forget to click Kernel -> Restart & Run All, save your file, download or print as pdf, and submit pdf to Gradescope.