In [ ]:
# Initialize Otter Grader
import otter
grader = otter.Notebook()

![data-x](https://raw.githubusercontent.com/afo/data-x-plaksha/master/imgsource/dx_logo.png)

___

#### NAME:

#### STUDENT ID:
___

# Part I - NumPy Introduction

In [1]:
# Load required modules
import numpy as np

## Question 1 - NumPy Array Operations

<br>

**1a) Create two numpy arrays called** ```a``` **and** ```b``` **where** ```a``` **should be all integers between 42-51 (inclusive), and** ```b``` **should be ten evenly spaced numbers between 1-6 (inclusive). Print** ```a``` **and** ```b```

<!--
BEGIN QUESTION
name: q1a
manual: false
points: 1
-->

In [2]:
# your code here
...

In [ ]:
grader.check("q1a")

<br>

**1b) [Cube](https://numpy.org/doc/stable/reference/routines.math.html) (i.e. raise to the power of 3) all the elements in both** ```a``` **and** ```b``` **(element-wise). Store the results in two new arrays called** ```cubed_a``` **and** ```cubed_b```**. Print** ```cubed_a``` **and** ```cubed_b```

<!--
BEGIN QUESTION
name: q1b
manual: false
points: 1
-->

In [7]:
# your code here
...

In [ ]:
grader.check("q1b")

<br>

**1c) [Add](https://numpy.org/doc/stable/reference/routines.math.html) the two cubed arrays (e.g.** ```[1,2] + [3,4] = [4,6]```**) and store the result in an array called** ```c```**. Print** ```c```

<!--
BEGIN QUESTION
name: q1c
manual: false
points: 1
-->

In [12]:
# your code here
...

In [ ]:
grader.check("q1c")

<br>

**1d) [Sum](https://numpy.org/doc/stable/reference/routines.math.html) the elements with even indices of** ```c``` **and store the result in a variable called** ```d```**. Print** ```d```

<!--
BEGIN QUESTION
name: q1d
manual: false
points: 1
-->

In [15]:
# your code here
...

In [ ]:
grader.check("q1d")

<br>

**1e) Take the element-wise [square root](https://numpy.org/doc/stable/reference/routines.math.html) of the** ```c``` **and store the result in an array called** ```e```**. Print** ```e```

<!--
BEGIN QUESTION
name: q1e
manual: false
points: 1
-->

In [18]:
# your code here
...

In [ ]:
grader.check("q1e")

<br>

**1f) [Append](https://numpy.org/doc/stable/reference/routines.array-manipulation.html)** ```b``` **to** ```a```, **[reshape](https://numpy.org/doc/stable/reference/routines.array-manipulation.html) the appended array so that it is a 4x5, 2D array and store the results in a variable called** ```m```**. Print** ```m```

<!--
BEGIN QUESTION
name: q1f
manual: false
points: 1
-->

In [21]:
# your code here
...

In [ ]:
grader.check("q1f")

<br>

**1g) Extract the third and the fourth column of the** ```m``` **matrix. Store the resulting 4x2 matrix in a new variable called** ```m2```**. Print** ```m2```

<!--
BEGIN QUESTION
name: q1g
manual: false
points: 1
-->

In [24]:
# your code here
...

In [ ]:
grader.check("q1g")

<br>

**1h) Take the [dot product](https://numpy.org/doc/stable/reference/routines.array-manipulation.html) of** ```m``` **and** ```m2```**. Store the results in a matrix called** ```m3```**. Print** ```m3```

>**Note:** the Dot product of two matrices is given by

$$\large{A\cdot B = A^{T}B}$$

<br>

<!--
BEGIN QUESTION
name: q1h
manual: false
points: 2
-->

In [27]:
# your code here
...

In [ ]:
grader.check("q1h")

<br>

**1i) [Round](https://numpy.org/doc/stable/reference/routines.math.html) the** ```m3``` **matrix to three decimal points. Store the result in place and print the new** ```m3```

<!--
BEGIN QUESTION
name: q1i
manual: false
points: 1
-->

In [30]:
# your code here
...

In [ ]:
grader.check("q1i")

<br>

___

## Question 2 - NumPy and Masks

<br>

**2a) Create an array called** ```f``` **where the values are** ```cos(x)``` **for** ```x``` **from $0$ to $\pi$ with 50 [equally spaced values](https://numpy.org/doc/stable/reference/routines.array-creation.html) (inclusive). Print** ```f```

<!--
BEGIN QUESTION
name: q2a
manual: false
points: 1
-->

In [33]:
# your code here
...

In [ ]:
grader.check("q2a")

<br>

**2b) Use a [mask](https://numpy.org/doc/stable/reference/maskedarray.html) to get an array that is** ```True``` **when** ```f >= 1/2``` **and** ```False``` **when** ```f < 1/2```**. Store the result in an array called** ```g```**. Print** ```g```

<!--
BEGIN QUESTION
name: q2b
manual: false
points: 1
-->

In [37]:
# your code here
...

In [ ]:
grader.check("q2b")

<br>

**2c) Create an array called** ```h``` **that has only those values where** ```f>= 1/2```**. Print** ```h```

<!--
BEGIN QUESTION
name: q2c
manual: false
points: 1
-->

In [40]:
# your code here
...

In [ ]:
grader.check("q2c")

# Part II - Pandas Introduction

In [43]:
# Load required modules
import numpy as np
import pandas as pd

#### This assignment includes data from an external source. For your reference, here is the information about the original source.
>Data source: http://www.fao.org/nr/water/aquastat/data/query/index.html<br>
>Data, units:<br>
>* GDP, current USD (CPI adjusted)<br>
>* NRI, $mm/yr$<br>
>* Population density, $inhab/km^2$<br>
>* Total area of the country, $1000 ha = 10km^2$<br>
>* Total Population, unit $1000$ inhabitants<br>

___

<br>

**3a) Read the CSV file called** ```data3.csv``` **into a DataFrame and name it** ```df``` 

<!--
BEGIN QUESTION
name: q3a
manual: false
points: 1
-->

In [44]:
# your code here
df = ...

In [ ]:
grader.check("q3a")

<br>

**3b) Assign the first 10 rows of ```df``` to ```result_q3b```. Display them.**

<!--
BEGIN QUESTION
name: q3b
manual: false
points: 1
-->

In [46]:
# your code here
...

In [ ]:
grader.check("q3b")

<br>

**3c) Assign the column names of ```df``` to ```result_q3c```. Display them.**

<!--
BEGIN QUESTION
name: q3c
manual: false
points: 1
-->

In [49]:
# your code here
...

In [ ]:
grader.check("q3c")

<br>

**3d) Use ```.iloc``` assign the first 4 rows and first 3 columns to ```result_q3d```. Display them**

<!--
BEGIN QUESTION
name: q3d
manual: false
points: 1
-->

In [52]:
# your code here
...

In [ ]:
grader.check("q3d")

## Data Pre-Processing

<br>

**4a) Find all the rows that  have** ```NaN``` **in the ```Symbol``` column. Assign the first 5 of them to ```result_q4a```. Display ```result_q4a```.**

<!--
BEGIN QUESTION
name: q4a
manual: false
points: 1
-->

In [55]:
# your code here
...

In [ ]:
grader.check("q4a")

<br>

**4b) Remove all columns and rows that contain ```NaN``` values and store in ```df1```. Store the last 5 rows in ```result_q4b```. Displaly them.**

>**Note:** Sometimes it is best to just discard any data that contains missing values. There are some workarounds, but for now we will try to get rid of the NaN valued rows and columns.  

>To do this: (1) Check which columns contain only 'NaN' values and drop them. Then, (2) drop rows that have any entry with a value 'NaN'. Finally, (3) store the result in place as ```df1``` and (4) display the last 5 rows of the  cleaned dataframe ```df1```.

<!--
BEGIN QUESTION
name: q4b
manual: false
points: 2
-->

In [58]:
# your code here
...

In [ ]:
grader.check("q4b")

**4c) Skipped - there is no 4c**

<br>

**4d) Remove redundant/duplicate Entries**

**Note:** In the data set we are working with, you can manually explore the data to see which rows contain duplicate data. However, imagine this task when you have millions of entries. Pandas has builtin functionality that allows you to do this -- at the DataFrame and Series object level. Take a look at the following functions 
>[.drop_duplicates( )](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#duplicate-data)<br>
>[.duplicated( )](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html?highlight=duplicate%20columns)<br>
>[.equals( )](https://www.w3resource.com/pandas/series/series-equals.php)<br>
>[.where( )](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html)

See if you can figure out how to solve this problem using one of the above methods, to drop any row in ```df1``` that is an identical entry.  Save the new DataFrame as ```df2```. Then assign the last 5 rows of ```df2``` to ```result_q4d```. Display ```result_q4d```.


<!--
BEGIN QUESTION
name: q4d
manual: false
points: 1
-->

In [63]:
# your code here
...

In [ ]:
grader.check("q4d")

<br>

**4e) Find all the unique values for the column** ```Area``` **in** ```df2```. Assign them to ```result_q4e```. Display them.

<!--
BEGIN QUESTION
name: q4e
manual: false
points: 1
-->

In [67]:
# your code here
...

In [ ]:
grader.check("q4e")

<br>

**4f) Convert data to datetime objects, sort by datetime ascending, reset index, and deep copy**

>**To-Do:**<br>
>1. In ```df2```, convert the ```Year``` column ```float64``` values to pandas [datetime](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html) objects, where each year is represented as the first day of that calendar year -- e.g. ```1962.0``` will be represented as ```1962-01-01```.<br>
>2. [Sort](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) by datetime ascending -- i.e. ```1962-01-01,  1963-01-01,...```.<br>
>3. [Deepcopy](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.copy.html) ```df2``` into a new DataFrame ```df3```. [Why deep copy?](https://realpython.com/copying-python-objects/)<br>
>4. Store the first 4 rows of ```df3``` in ```result_q4f```. Display them.

<!--
BEGIN QUESTION
name: q4f
manual: false
points: 2
-->

In [71]:
# your code here
...

In [ ]:
grader.check("q4f")

## Exploratory Data Analysis (EDA) - Data Visualization

<br>

**5a) [Plot](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.plot.html) a bar graph showing the [count](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) for [each unique value in the column 'Area'](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) in ```df3```. Give it a title and be sure that all of the labels are legible.**


<!--
BEGIN QUESTION
name: q5a
manual: true
points: 2
-->
<!-- EXPORT TO PDF -->

In [77]:
# your code here
...

## Exploratory Data Analysis (EDA) - Statistical Analysis

<br>

**5b)  Starting from ```df3```, create a DataFrame** ```dftmp``` **to store rows where** ```Area``` **is** ```Iceland```, **then display a slice of the new DataFrame**


<!--
BEGIN QUESTION
name: q5b
manual: false
points: 1
-->

In [78]:
# your code here
...

In [ ]:
grader.check("q5b")

<br>

**5c) Filter data within a range**

>**To Do:** Using the previously created DataFrame, ```dftmp```, find the years when the National Rainfall Index (NRI) was greater than 900 and less than 950 in Iceland. Store these years as a NumPy array in ```iceland_900_950_years```.

<!--
BEGIN QUESTION
name: q5c
manual: false
points: 1
-->

In [81]:
# your code here
...

In [ ]:
grader.check("q5c")

<br>

**5d) Create subset of data**


>**To Do:** Starting from ```df3```, create a new DataFrame called ```df_usa``` that only contains values where ```Area``` is equal to ```United States of America```. Set the indices to be the ```Year``` column   (Use ```.set_index( )```, with the inplace paratmeter set to ```inplace=True```). Store the first 5 rows in ```result_q5d```. Display ```result_q5d```.

<!--
BEGIN QUESTION
name: q5d
manual: false
points: 1
-->

In [84]:
...

In [ ]:
grader.check("q5d")

 <br>

**5e) [Stack](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html?highlight=stack%20unstack) and [Unstack](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html?highlight=stack%20unstack) DataFrame**

>**To Do:** Pivot ```df_usa``` so that the unique values in the column ```Variable Name``` becomes the columns. The DataFrame values should be the ones in the the ```Value``` column. Save it in ```df_usa```. Display the dataframe shape and head. <br><br>
>**Note:** [Pivot](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html#pandas.DataFrame.pivot) does not work if you have dupiclate entries --> ```ValueError: Index contains duplicate entries, cannot reshape```. You may need to drop index duplicates, or you could use [reset_index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) and [pivot_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) together, or [perform additional preprocessing](https://stackoverflow.com/questions/28651079/pandas-unstack-problems-valueerror-index-contains-duplicate-entries-cannot-re) to get rid of the error.

<!--
BEGIN QUESTION
name: q5e
manual: false
points: 0
-->

In [88]:
# your code here
...

 <br>

**5f)  Rename Features**

   >**To Do: Rename the ```Gross Domestic Product (GDP)```, ```National Rainfall Index (NRI)```, ```Population density```, ```Total area of the country```, ```Total population``` columns as ```GDP```,```NRI```,```PD```,```Area```, ```Population```, respectively.  Assign the first 5 rows to ```result_q5f```.** 

<!--
BEGIN QUESTION
name: q5f
manual: false
points: 1
-->

In [89]:
# your code here
df_usa.rename(columns={'Gross Domestic Product (GDP)': 'GDP', 'National Rainfall Index (NRI)': 'NRI', 'Population density': 'PD', 'Total area of the country': 'Area', 'Total population': 'Population'}, inplace=True)
result_q5f = df_usa.head()

In [ ]:
grader.check("q5f")

<br>

**5g) Replace Missing Data**

>**To Do:** Replace all *'Nan'* values in ```df_usa``` with ```0```. Assign the first 5 rows to ```result_q5g```.

<!--
BEGIN QUESTION
name: q5g
manual: false
points: 1
-->

In [93]:
# your code here
...

In [ ]:
grader.check("q5g")

<br>

**5h) Scale Data**

>**To Do:** Multiply the ```Area``` column for all rows by ```10``` (so instead of $1000 ha$, the unit becomes $100 ha = 1km^2$). Assign the first 5 rows to ```result_q5h```.

<!--
BEGIN QUESTION
name: q5h
manual: false
points: 1
-->

In [96]:
# your code here
...

In [ ]:
grader.check("q5h")

<br>

**5i)  Feature Engineering**

>**To Do:** Create a new column in ```df_usa``` called ```GDP/capita``` and populate it with the calculated GDP per capita. Round the results to two decimal points. Assign the first 5 rows to ```result_q5i```.

<br>

$$GDP~per~capita = \frac{GDP}{Population} * 1000$$

<br>

<!--
BEGIN QUESTION
name: q5i
manual: false
points: 1
-->

In [99]:
# your code here
...

In [ ]:
grader.check("q5i")

<br>

**5j) Data Extraction**

>**To Do:** Find the maximum value of the ```NRI``` column in the US (using pandas methods) and store it in ```nri_max```. Find what year the max value occurs and store it in ```nri_max_year```

<!--
BEGIN QUESTION
name: q5j
manual: false
points: 1
-->

In [102]:
# your code here
...

In [ ]:
grader.check("q5j")

# Submit
Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output.
**Please save before submitting!**

<!-- EXPECT 1 EXPORTED QUESTIONS -->

In [ ]:
# Save your notebook first, then run this cell to create a pdf for your reference.
import dsassign.to_pdf
dsassign.to_pdf.generate_pdf('numpy_pandas.ipynb', 'numpy_pandas.pdf')