![data-x](http://oi64.tinypic.com/o858n4.jpg) 

## Break Out with Homework - BKHW 1

#### Authors: Alexander Fred Ojala & Ikhlaq Sidhu

---

# Quick Review of Python Topics

In [1]:
# for Python Version 3
import sys
print(sys.version)

3.6.1 |Anaconda 4.4.0 (x86_64)| (default, May 11 2017, 13:04:09)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]

In [2]:
#calculator
print (2.1 + 2)
print (10 * 10)
print (3 == 1)
print (7/3)  # is floor
print (7.0/3)
print (float(7) / 3)
print (type (2))
print (type (2.0))

4.1
100
False
2.3333333333333335
2.3333333333333335
2.3333333333333335
<class 'int'>
<class 'float'>

In [3]:
# more numbers
print (complex (2,1))
a = 3; b = 5
print (b**a) # ** is 'to the power'
print (5%3)  # mod = remainder

(2+1j)
125
2

In [4]:
# bitwise
a = 3; b = 5
print (a & b) # 011 & 101
print (0b011 | 0b101) # or
print (0b011 ^ 0b101) # a xor b
# boolean
a = True; b = False; c = True
print (a and b)
print (a or b)

1
7
6
False
True

In [5]:
print (isinstance(1,int))
print (isinstance(2.5,int))

True
False

In [6]:
# Strings and slicing
x = "abcdefghijklmnopqrstuvwxyz"
print (type(x))
print ("length = ",len(x))
print (x)
print (x[1:25:1]) # start:stop:step
print (x[::3])
print (x[::-1])
print (x[len(x)-1:1:-2])

<class 'str'>
length =  26
abcdefghijklmnopqrstuvwxyz
bcdefghijklmnopqrstuvwxy
adgjmpsvy
zyxwvutsrqponmlkjihgfedcba
zxvtrpnljhfd

In [7]:
# Triple quotes are useful for multiple line strings
y = '''The quick brown 
fox jumped over 
the lazy dog.'''
print (y)
# tokenize by space
words = y.split(' ')
print (words)
words = y.split()
print (words)
print ('-'.join(words))  # put the list back into a sting with join

The quick brown
fox jumped over
the lazy dog.
['The', 'quick', 'brown', '\nfox', 'jumped', 'over', '\nthe', 'lazy', 'dog.']
['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']
The-quick-brown-fox-jumped-over-the-lazy-dog.

In [8]:
# data structures - tuple
t = ('a','b', 3)
print (t) 
print (type (t))
isinstance(t,tuple)
t[1]

('a', 'b', 3)
<class 'tuple'>

'b'

In [9]:
#data structure - list
y = list()
y.append("hello")
y.append("world")
print (y)
y.pop(1); print (y) # remove position 1

['hello', 'world']
['hello']

In [10]:
# list of numbers
y = list(range(0,20,2))
print (y)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
z = [1,2,'c',4, 4, 6]
print (z)
print ('c' in z, 'd' in z)  # its easy to know if an element is in a list
print (type(z))
print (len(z))
print (z[2])  # print element in position #2
print ("---")
for i in z: # traverse list with loop
    print (i)

[1, 2, 'c', 4, 4, 6]
True False
<class 'list'>
6
c
---
1
2
c
4
4
6

In [12]:
z.sort   # in Python 2, it would be z.sort()
print (z)
print (z.count(4))  # how many times is there a 4

[1, 2, 'c', 4, 4, 6]
2

In [13]:
# loop examples
for x in z:
    print ("this item is ", x)
print("---")
for i,x in enumerate(z):
    print ("item ", i," is ", x )
print ("---") 
for i in range(0,10,2):
    print (i)

this item is  1
this item is  2
this item is  c
this item is  4
this item is  4
this item is  6
---
item  0  is  1
item  1  is  2
item  2  is  c
item  3  is  4
item  4  is  4
item  5  is  6
---
0
2
4
6
8

In [14]:
# list comprehesion is like f(x) for x as an element of Set X
# S = {x² : x in {0 ... 9}}
S = [x**2 for x in range(10)]
print (S)
# M = {x | x in S and x even}
M = [x for x in S if x % 2 == 0]
print (M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [15]:
# a set is not ordered
a = set([1, 2, 3, 4, 5]); print (a)
b = set('abcdef'); print (b)
print (a|b)
print (a|b - set([1,3,5,'c', 'e']))
a.remove(5); print (a) # removes the '5'

{1, 2, 3, 4, 5}
{'b', 'e', 'a', 'd', 'c', 'f'}
{1, 2, 3, 4, 5, 'b', 'e', 'a', 'd', 'c', 'f'}
{1, 2, 3, 4, 5, 'b', 'a', 'd', 'f'}
{1, 2, 3, 4}

In [16]:
# Dictionaries, many ways to create them
# First way to create a dictionary is just to assign it
D1 = {'f1': 10, 'f2': 20, 'f3':25}              
print ("Use key 'f2' to access value: ", D1['f2'])

# 2. creating a dictionary using the dict()
D2 = dict(f1=10, f2=20, f3 = 30)
print (D2['f3'])

# 3. Another way, start with empty dictionary
D3 = {}
D3['f1'] = 10
D3['f2'] = 20
print (D3['f1'])

# 4th way, start with list of key-value tuples
y = [('f1', 10), ('f2', 40),('f3',60)]
D4 = dict(y)
print (D4['f2'])

#5 From keys
keys = ('a', 'b', 'c')
D5 = dict.fromkeys(keys)               # new dict with empty values
print (D5['c'])
# print D5['x'] but this will give an error

# Dictionaries can be more complex, ie dictionary of dictionary or of tuples, etc.
D5['a'] = D1; D5['b'] = D2
print (D5['a']['f3'])

Use key 'f2' to access value:  20
30
10
40
None
25

In [17]:
# traversing by key
# key is imutable, key can be number or string
for k in D1.keys():
    print (k)
print ("- or simply -")
for k in D1: print(k)

f1
f2
f3
- or simply -
f1
f2
f3

In [18]:
# traversing by values
for v in D2.values(): print(v)

10
20
30

In [19]:
# traverse by key and value is called item
for k, v in D1.items():                # tuples with keys and values
    print (k,v)

f1 10
f2 20
f3 25

In [20]:
# input
# raw_input() was renamed to input() in Python v3.x
# The old input() is gone, but you can emulate it with eval(input())

print ("Input a number:")
s = input()  # returns a string
a = int(s)
print ("The number is ", a)

Input a number:
100
The number is  100

# HOME WORK 1
## Complete this section and turn in before the next class

## 1. Create an empty Python list called 'a'

## 2. Store all values between 1-100 with increments of 03 (w/o Numpy) in 'a'

## 3. Create a list called 'a2' with numbers fro 2-46 with 0.5 increments

 ## 4. Double every even integer element of list 'a' from #2 
 ##  (i.e., 2.0, 4.0, 6.0 etc).  Store the results back in 'a'.

## 5. Add all numbers in 'a' (except for the 32nd and the 51st element). 
## Note element 1 is at index 0.

## 6. Calculate the mean of a

# LISTS AND STRINGS:
## 7. Create an empty list called b

## 8. In b store every word in the sentence as an element of its own.


### sentence: 'Data-X is an integrated research and educational project about data and its applications.'

## 9. Count the occurences of the lower-case letter ’e’ in the list b.

## 10. Replace every lower- or upper-case letter ’i’ in the list b with a ’1’

## 11. Append the string ”This is the end of the first HW” to the list b, 
## with every new word as an element of its own

## 12. Print b, as ONE string backwards (starting with ”WH tsrif ym...”)

# DICTIONARIES

## 13. Put the following in a dictionary called 'codes':
### Keys: 1001, 1002, 1003, 1004, 1005   
### Values: 'Alpa', Beta, 'Gamma, 'Delta', 'Tau'

## then traverse the dictionary by keys and change every value to be all lower case